body {
    margin: 0;
    height: 10000px;
}

#top-section {
    background-color: white;
    width: 100%;
    height: 12.5vh;
    min-height: 85px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    position: fixed;
    top: 0;
    transform: translateY(10px);
    transition: 0.1s;
}
.item {
    background-color: lightgrey;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1vw;
    margin-left: 1vw;
    white-space: nowrap;
    user-select: none;
}
.item:hover {
    cursor: pointer;
}
.item.first {
    margin-left: 0px;
}
.item.last {
    margin-right: 0px;
}
#top-section-section1 {
    width: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row;
    overflow: hidden;
}
#top-section-section1-subsection1 {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-section-menu-button {
    background-color: rgba(200, 200, 200, 0);
    height: 75%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    transition: 0.3s;
}
#top-section-menu-button:hover {
    cursor: pointer;
}
#top-section-menu-button:active {
    background-color: rgba(200, 200, 200, 0.5);
}
#top-section-section1-subsection2 {
    width: 10%;
    min-width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row;
}
#top-section-logo-link {
    width: 100%;
    height: 100%;
}
#top-section-logo-image {
    background-image: url(logo_long.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 600px) {
    #top-section-section1-subsection3 {
        min-width: 300px;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        align-items: center;
    }
    #top-section-search-area {
        background-color: white;
        width: 80%;
        min-width: 250px;
        height: 65%;
        border-radius: 100vh;
        border: 1px solid lightgrey;
        display: flex;
        flex-flow: row;
        align-items: center;
        overflow: hidden;
    }
    #top-section-search-bar-shell {
        flex-grow: 1;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        align-items: center;
    }
    #top-section-search-bar {
        flex-grow: 1;
        height: 100%;
        border: none;
        border-right: 1px solid lightgrey;
        outline: none;
    }
    #top-section-microphone-search {
        background-color: rgba(200, 200, 200, 0);
        height: 90%;
        aspect-ratio: 1;
        border: none;
        border-radius: 50%;
        font-size: 125%;
        position: absolute;
        right: 15px;
        transition: 0.3s;
    }
    #top-section-microphone-search:hover {
        cursor: pointer;
    }
    #top-section-microphone-search:active {
        background-color: rgba(200, 200, 200, 0.5);
    }
    #top-section-search-button {
        background-color: rgba(200, 200, 200, 0);
        width: 10%;
        min-width: 75px;
        max-width: 125px;
        height: 100%;
        border: none;
        font-size: 125%;
        overflow: hidden;
        transition: 0.3s;
    }
    #top-section-search-button:hover {
        cursor: pointer;
    }
    #top-section-search-button:active {
        background-color: rgba(200, 200, 200, 0.5);
    }
    #top-section-search-button-2 {
        display: none;
    }
    #top-section-microphone-search-2 {
        display: none;
    }
}
@media screen and (max-width: 599px) {
    #top-section-search-bar {
        display: none;
    }
    #top-section-search-button {
        display: none;
    }
    #top-section-microphone-search {
        display: none;
    }
    #top-section-search-button-2 {
        background-color: rgba(200, 200, 200, 0);
        height: 90%;
        aspect-ratio: 1;
        border-radius: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 125%;
        transition: 0.3s;
    }
    #top-section-search-button-2:hover {
        cursor: pointer;
    }
    #top-section-search-button-2:active {
        background-color: rgba(200, 200, 200, 0.5);
    }
    #top-section-microphone-search-2 {
        background-color: rgba(200, 200, 200, 0);
        height: 90%;
        aspect-ratio: 1;
        border: none;
        border-radius: 50%;
        transition: 0.3s;
        font-size: 125%;
        overflow: hidden;
    }
    #top-section-microphone-search-2:hover {
        cursor: pointer;
    }
    #top-section-microphone-search-2:active {
        background-color: rgba(200, 200, 200, 0.5);
    }
    #top-section-section1-subsection4 {
        flex-grow: 1;
        min-width: 200px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and (max-width: 419px) {
    #top-section-microphone-search-2 {
        display: none;
        overflow: hidden;
    }
    #top-section-section1-subsection4 {
        flex-grow: 1;
        min-width: unset;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and (min-width: 420px) {
    #top-section-section1-subsection4 {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #top-section-section1-subsection3 {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 349px) {
    #top-section-section1-subsection2 {
        display: none;
    }
}
#top-section-section2 {
    width: 100%;
    flex-grow: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#top-section-section2:hover {
    cursor: col-resize;
}
#top-section-section2::-webkit-scrollbar {
    display: none;
}

#top-section-menu {
    background-color: lightgrey;
    min-width: 250px;
    width: 90vw;
    max-width: 500px;
    height: 100vh;
    position: fixed;
    transform: translateX(0px);
    z-index: 2;
}
#top-section-menu-slide-bar {
    background-color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0;
    transform: translateX(50%);
    transition: 0.3s;
}
#top-section-menu-slide-bar:hover, #top-section-menu-slide-bar:active {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
}
#top-section-menu-exit-button {
    background-color: rgba(255, 255, 255, 0);
    width: 10%;
    aspect-ratio: 1;
    max-width: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border: none;
    transition: 0.3s;
    font-size: 125%;
    text-align: center;
}
#top-section-menu-exit-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}
#top-section-menu-exit-button:active {
    background-color: rgba(255, 255, 255, 0.5);
}
