body {
    margin: 0;
}

#top-section {
    background-color: white;
    width: 100%;
    height: 12.5vh;
    min-height: 85px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.item {
    background-color: lightgrey;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1vw;
    margin-left: 1vw;
    white-space: nowrap;
    user-select: none;
}
.item:hover {
    cursor: pointer;
}
.item.first {
    margin-left: 0px;
}
.item.last {
    margin-right: 0px;
}
#top-section-section1 {
    width: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: row;
    overflow: hidden;
}
#top-section-section1-subsection1 {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-section-menu-button {
    background-color: rgba(200, 200, 200, 0);
    height: 75%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    transition: 0.3s;
}
#top-section-menu-button:hover {
    cursor: pointer;
}
#top-section-menu-button:active {
    background-color: rgba(200, 200, 200, 0.5);
}
#top-section-section1-subsection2 {
    width: 10%;
    min-width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row;
}
#top-section-logo-link {
    width: 100%;
    height: 100%;
}
#top-section-logo-image {
    background-image: url(logo_long.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#top-section-section1-subsection3 {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 600px) {
    
    #top-section-search-area {
        background-color: white;
        width: 80%;
        height: 65%;
        border-radius: 100vh;
        border: 1px solid lightgrey;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #top-section-search-bar {
        width: calc(95% - 5vmin);
        height: 100%;
        border: none;
        border-right: 1px solid lightgrey;
        outline: none;
    }
    #top-section-search-button {
        background-color: transparent;
        flex-grow: 1;
        height: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 125%;
        overflow: hidden;
    }
}
@media screen and (max-width: 599px) {
    #top-section-search-bar {
        width: 0px;
        height: 0px;
        border: none;
        outline: none;
        overflow: hidden;
    }
    #top-section-search-button {
        width: 0px;
        height: 0px;
        border: none;
        overflow: hidden;
    }
}
#top-section-section1-subsection4 {
    background-color: blue;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-section-section2 {
    width: 100%;
    flex-grow: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#top-section-section2:hover {
    cursor: col-resize;
}
#top-section-section2::-webkit-scrollbar {
    display: none;
}
